*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

#mainContainer{
  background-color: #61adff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.btn{
  width: 300px;
  height: 40px;
  border-radius: 10px;
}